.App {
  align: center;
  text-align: center;
  width: 700px;
  margin: 30px auto;
  padding: 0;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.2);
  font-family: Verdana, sans-serif;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  text-align: center;
  height: 80px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

img {
  display: block;
  max-width:400px;
  max-height:300px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

span {
  display: inline-block;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
